/* 
    This is the css for projects's index.html
*/


/*
    CUSTOM FONT DECLARATIONS
*/
/* Using free to use font "sillkscreen" by Jason Kottke.
Could not convert ttf to woff so change upon malfunction */
@font-face {
    font-family: 'silkscreen';
    src: url('../resources/font/silkscreen/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'rejiha_font';
    src: url('./resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff') format('woff'),
        url('./resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff2') format('woff2'),
        url('./resources/font/Rejiha_font-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */


/*
    ALL ELEMENTS
*/
* {
    font-family: silkscreen;
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin: 0;
    cursor: url('../resources/img/myWebsite/xp_cursor.png'), auto;
}

body {
    /* cursor: url('../resources/img/myWebsite/xp_cursor.png'), auto; */
}

h1 {
    font-family: silkscreen;
    font-size: 50px;
    color: white;
    /* text-shadow: -2px 0 white, 0 5px white, 5px 0 white, 0 -2px white; */
    text-align: center;
    height: 10vh;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    background-color: black;
}

img {
    /* Disable interacting with images (like saving them) */
    pointer-events: none;
    /* Below disables blue hightlights on click/drag */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    margin: 10px;
    width: 30%;
    box-shadow: 0px 0px 10px black;
}



/*
    PROGRAMMING ELEMENTS
*/
#programming {
    background-color: #5460c8;
    /* background: radial-gradient(circle, rgba(84,96,200,1) 0%, rgba(27,37,128,1) 100%); */
    float: left;
    width: 50%;
    height: 90vh;
}

#programming_header {
    
}

#programming_contents {
    background-color: lightblue;
    display: none;
}


/*
    ART ELEMENTS
*/
#art {
    background-color: #e65d84;
    /* background: radial-gradient(circle, rgba(230,93,132,1) 0%, rgba(158,38,72,1) 100%); */
    float: right;
    width: 50%;
    height: 90vh;
}

#art_contents {
    background-color: lightpink;
    display: none;
}



/*
    BOTH ELEMENTS
*/
.header {
    display: block;
    text-align: center;
    /* margin-top: 100px; */
    transform: translateY(20vh);
}

.p_captions {
    display: block;
    padding: 5px;
    overflow-wrap: anywhere;
}

.contents {
    margin: 10px;
    height: 87vh;
    overflow-y: auto;
}



/*
    ANIMATIONS
*/
@keyframes expand {
    0% {width: 50%;}
    100% {width: 75%;}
}

@keyframes shrink {
    0% {width: 50%;}
    100% {width: 25%;}
}

@keyframes reset_expand {
    0% {width: 75%;}
    100% {width: 50%;}
}

@keyframes reset_shrink {
    0% {width: 25%;}
    100% {width: 50%;}
}

@keyframes wholePage {
    0% {width: 75%;}
    100% {width: 90%;}
}

@keyframes subPage {
    0% {width: 25%;}
    100% {width: 10%;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}