/* 
    This is the css for myWebsite's index.html
*/

/* Using free to use font "sillkscreen" by Jason Kottke.
Could not convert ttf to woff so change upon malfunction */
@font-face {
    font-family: 'silkscreen';
    src: url('./resources/font/silkscreen/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Setting my custom font. woff for browsers, ttf for mobile */
@font-face {
    font-family: 'rejiha_font';
    src: url('./resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff') format('woff'),
        url('./resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff2') format('woff2'),
        url('./resources/font/Rejiha_font-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: silkscreen;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

body {
    background-color: #55abaa;
    background-size: 40px 40px;    
    background-image: repeating-linear-gradient(0deg, #fff, #fff 2px, transparent 1px, transparent 40px),
                    repeating-linear-gradient(-90deg, #fff, #fff 2px, transparent 1px, transparent 40px);
    cursor: url('./resources/img/myWebsite/xp_cursor.png'), auto;
}

img {
    /* Disable interacting with images (like saving them) */
    pointer-events: none;
    /* Below disables blue hightlights on click/drag */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* For p tag texts, use my font for readability */
p {
    font-family: rejiha_font;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

/* Styling of the website header */
h1 {
    font-family: silkscreen;
    font-size: 50px;
    color: white;
    text-shadow: -2px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
    text-align: center;
    margin: auto;
    width: 80%;
    padding-bottom: 15px;
}

/* Styling for text under icon images */
figcaption {
    font-size: 3vw;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

li {
    font-size: 20px;
}



/* Animation for website header*/
#pageTitle {
    animation: title_move 1s steps(1, end) infinite;
}
@keyframes title_move {
    0% {transform: translateY(0);}
    25% {transform: translateY(5px);}
    50% {transform: translateY(0);}
    75% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

/* Styling for reloading */
#loadingImg {
    position: fixed;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    animation: fadeOut_ld 1.5s;
}
@keyframes fadeOut_ld {
    0%, 80% {z-index: 100; opacity: 1;}
    100% {z-index: 0; opacity: 0;}
}

#blackScreen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: black;

    opacity: 0;
    animation: fadeOut_bl 1.5s;
}
@keyframes fadeOut_bl {
    0%, 80% {z-index: 90; opacity: 1;}
    100% {z-index: -10; opacity: 0;}
}

/* Styling of main background image (the windows xp) */
#mainBackgroundImg {
    max-width: 90vw;
    max-height: 90vh;
    display:block;
    margin-left:auto;
    margin-right:auto;

    padding: 5px;
    background-color: black;
}

/* Below are stylings for toolbar items */
#toolbar {
    display:block;
    margin-left:auto;
    margin-right:auto;

    height: 40px;
    background-color: #566dcd;
    border: 5px solid black;
    border-top: none;
}
.tb_buttons {
    display: inline;
    margin: 3px;
    padding: 5px;
    background-color: #92a3e8;
    border: none;
    border-radius: 5px;
    box-shadow:
    inset 2px 2px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 0px rgba(0, 0, 0, 0.6);
}
.tb_buttons:active {
    filter: brightness(0.8);
    box-shadow:
    inset -2px -2px 0px rgba(255, 255, 255, 0.6),
    inset 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.tb_buttons:hover {
    filter: brightness(0.8);
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}
.tb_icons {
    width: 20px;
}

/* Stylings for start button */
#startButton {
    background-color: #6fd575;
    color: white;
    text-shadow: 0px 0 black, 0 2px black, 2px 0 black, 0 0px black;
}


/* Stylings for dropup menu */
.dropup {
    position: relative;
    display: inline-block;
}
.dropup_content {
    z-index: 15;
    display: none;
    position: absolute;
    left: 3px;
    bottom: 40px;
    background-color: #f1f1f1;
    min-width: 190px;
    width: auto;
}
.dropup_content a {
    padding: 5px;
    text-decoration: none;
    display: block;
    border: 1px solid black;
}
.dropup_content a:hover {
    background-color: #ababab;
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}
/* .dropup:hover .dropup_content {
    display: block;
} */


/* Below are stylings for draggable icons in the background */
#linkIcon {
    text-align: center;
}

#linkIcon:hover {
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}

/* (ADD NEW ID HERE) */
#linkIcon_aboutme {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 15%;
}
#linkIcon_skills {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 60%;
}
#linkIcon_projects {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 90%;
}
#linkIcon_resume {
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 40%;
}
#linkIcon_linkpage {
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 80%;
}

/* Styling for icon windows */
.windowHeader {
    position: absolute;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 0;
    margin-bottom: 0;
    top: 2%;
    left: 15px;
}
.windowImg {
    width: 100%;
}

/* Styling for window that pops up on double clicking aboutme icon */
#aboutmeWindow {
    z-index: 20;
    position: absolute;
    visibility: hidden;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
}
/* TODO: need jquery for these to stay after active */
#aboutmeWindow:active {
    z-index: 30;
}

#insideAboutMeWindow {
    overflow: auto;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 10%;
    bottom: 5%;
}
#myPortrait {
    padding: 10px;
    width: 40%;
    float: right;
}
#portraitButton {
    float: right;
}


/* Styling for window that pops up on double clicking skills icon*/
#skillsWindow {
    z-index: 20;
    position: absolute;
    visibility: hidden;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
}
/* TODO: need jquery for these to stay after active */
/* #aboutmeWindow:active {
    z-index: 30;
} */

/* TODO: Styling for contents inside the skills window */
#insideSkillsWindow {
    overflow: auto;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 15%;
    bottom: 5%;
    text-align: center;
    /* width: fit-content; */
    padding: 10px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.subheader {
    text-decoration: underline;
    margin-top: 10px;
    font-size: 22px;
}

#category_programming {
    border: solid #336a38;
    border-radius: 10px;
    margin: 10px;
}

#category_programmingHeader {
    color: #336a38;
    display: block;
}
#category_programmingHeader:hover {
    color: white;
    text-shadow: -2px 0 #336a38, 0 2px #336a38, 2px 0 #336a38, 0 -2px #336a38;
}

#category_programmingInside {
    font-family: rejiha_font;
    font-size: 20px;
    display: none;
    text-shadow: none;
    text-align: left;
}

#category_art {
    border: solid #c25353;
    border-radius: 10px;
    margin: 10px;
}

#category_artHeader {
    color: #c25353;
    display: block;
}
#category_artHeader:hover {
    color: white;
    text-shadow: -2px 0 #c25353, 0 2px #c25353, 2px 0 #c25353, 0 -2px #c25353;
}

#category_artInside {
    font-family: rejiha_font;
    font-size: 20px;
    display: none;
    text-shadow: none;
    text-align: left;
}

#category_other {
    border: solid #e4ce5f;
    border-radius: 10px;
    margin: 10px;
}

#category_otherHeader {
    color: #e4ce5f;
    display: block;
}
#category_otherHeader:hover {
    color: white;
    text-shadow: -2px 0 #e4ce5f, 0 2px #e4ce5f, 2px 0 #e4ce5f, 0 -2px #e4ce5f;
}

#category_otherInside {
    font-family: rejiha_font;
    font-size: 20px;
    display: none;
    text-shadow: none;
    text-align: left;
}

#star_info {
    text-align: center;
}

#star_info_inside {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    text-shadow: none;
}



/* Styling for window that pops up on clicking email menu from toolbar */
#emailmeWindow {
    z-index: 20;
    position: absolute;
    visibility: hidden;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
}

#insideEmailMeWindow {
    overflow: auto;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 15%;
    bottom: 5%;
}
/* TODO: need jquery for these to stay after active */
#emailmeWindow:active {
    z-index: 30;
}

#emailLinkPart {
    text-align: center;
    margin-bottom: 20px;
}

#emailLink {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
#emailLink:hover {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}

label {
    margin-left: 10%;
}

.inputFields, textarea {
    font-family: 'Courier', monospace;
    font-weight: bold;
    width: 80%;
    border: 1px solid black;
    display: block;
    margin:auto;
    margin-bottom: 10px;
    padding: 5px;
}
textarea {
    resize: none;
}
input::placeholder {
    font-family: 'silkscreen';
}
textarea::placeholder {
    font-family: 'silkscreen';
}

#emailmeButtons {
    text-align: center;
    margin: 10px;
}


/* Styling for buttons */
.buttons {
    border: 0;
    background-color: #b4b4b4;
    box-shadow:
    inset 2px 2px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 0px rgba(0, 0, 0, 0.6);
}
.buttons:active {
    box-shadow:
    inset -2px -2px 0px rgba(255, 255, 255, 0.6),
    inset 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.buttons:hover {
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}

.helpButton {
    position: absolute;
    top: 2%;
    right: 95px;
}
.enlargeButton{
    position: absolute;
    top: 2%;
    right: 55px;
}
.closeButton {
    position: absolute;
    top: 2%;
    right: 15px;
}

/* Styling for text that shows up on clicking ?(help) button */
#popupText {
    position: absolute;
    top: -120px;
    right: 0px;
    padding: 10px;
    visibility: hidden;
    background-color: #b4b4b4;
    box-shadow:
    inset 2px 2px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 0px rgba(0, 0, 0, 0.6);
    font-size: 15px;
}


/* Styling for bullet list of the page */
#bulletList {
    /* Center the list but keep bullets in line of left */
    position: relative;
	display: inline-block;
	padding-left: 1em;
	left: 50%;
	transform: translateX(-50%);

    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.underlineText {
    text-decoration: underline;
}

#info {
    font-size: 11px;
    text-align: right;
    margin: 0;
}

#options {
    position: relative;
    display: block;
    margin: 10px;
    max-width: fit-content;
    margin-inline: auto;
    text-align: center;
}

h3 {
    display: inline-block;
    margin: 0;
}

.off_buttons {
    display: inline-block;
    border: 0;
    /* background-color: #448685; */
    background-color: #55abaa;
    box-shadow:
    inset 2px 2px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 0px rgba(0, 0, 0, 0.6);
}
/* .off_buttons:active{
    box-shadow:
    inset -2px -2px 0px rgba(255, 255, 255, 0.6),
    inset 2px 2px 0px rgba(0, 0, 0, 0.6);
} */
.off_buttons:hover {
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}

/*
.buttons:active {
    box-shadow:
    inset -2px -2px 0px rgba(255, 255, 255, 0.6),
    inset 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.buttons:hover {
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
} */