/* 
    This is the css for myWebsite.html
*/

/* Using free to use font "sillkscreen" by Jason Kottke.
Could not convert ttf to woff so change upon malfunction */
@font-face {
    font-family: 'silkscreen';
    src: url('./resources/font/silkscreen/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Setting my custom font. woff for browsers, ttf for mobile */
@font-face {
    font-family: 'rejiha_font';
    src: url('./resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff') format('woff'),
        url('./resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff2') format('woff2'),
        url('./resources/font/Rejiha_font-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: silkscreen;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

body {
    background-color: #55abaa;
    background-size: 40px 40px;    
    background-image: repeating-linear-gradient(0deg, #fff, #fff 2px, transparent 1px, transparent 40px),
                    repeating-linear-gradient(-90deg, #fff, #fff 2px, transparent 1px, transparent 40px);
    cursor: url('./resources/img/myWebsite/xp_cursor.png'), auto;
}

img {
    /* Disable interacting with images (like saving them) */
    pointer-events: none;
    /* Below disables blue hightlights on click/drag */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* For p tag texts, use my font for readability */
p {
    font-family: rejiha_font;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

/* Styling of the website header */
h1 {
    font-family: silkscreen;
    font-size: 50px;
    color: white;
    text-shadow: -2px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
    text-align: center;
    margin: auto;
    width: 80%;
    padding-bottom: 15px;
}

/* Styling for text under icon images */
figcaption {
    font-size: 3vw;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/* Styling of main background image (the windows xp) */
#mainBackgroundImg {
    max-width: 90vw;
    max-height: 90vh;
    display:block;
    margin-left:auto;
    margin-right:auto;

    padding: 5px;
    background-color: black;
}

/* Below are stylings for toolbar items */
#toolbar {
    display:block;
    margin-left:auto;
    margin-right:auto;

    height: 40px;
    background-color: #566dcd;
    border: 5px solid black;
    border-top: none;
}

.tb_buttons {
    margin: 3px;
    padding: 5px;
    background-color: #92a3e8;
    border: none;
    border-radius: 5px;
    box-shadow:
    inset 2px 2px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 0px rgba(0, 0, 0, 0.6);
}
.tb_buttons:active {
    filter: brightness(0.8);
    box-shadow:
    inset -2px -2px 0px rgba(255, 255, 255, 0.6),
    inset 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.tb_buttons:hover {
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}

#startButton {
    background-color: #6fd575;
    color: white;
    text-shadow: 0px 0 black, 0 2px black, 2px 0 black, 0 0px black;
}

#linkIcon {
    text-align: center;
}

#linkIcon:hover {
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}

/* Below are series of icon stylization (ADD NEW ID HERE) */
#linkIcon_aboutme {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 15%;
}
#linkIcon_school {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 60%;
}
#linkIcon_projects {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 90%;
}
#linkIcon_resume {
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 40%;
}
#linkIcon_linkpage {
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 80%;
}

/* Styling for window that pops up on double clicking aboutme icon */
#aboutmeWindow {
    z-index: 20;
    position: absolute;
    visibility: hidden;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    /* font-size: 20vw; */
}

#aboutmeWindowImg {
    width: 100%;
}

#aboutmeHeader{
    position: absolute;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 0;
    margin-bottom: 0;
    top: 2%;
    left: 15px;
}

/* Styling for buttons */
.buttons {
    border: 0;
    background-color: #b4b4b4;
    box-shadow:
    inset 2px 2px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 0px rgba(0, 0, 0, 0.6);
}
.buttons:active {
    box-shadow:
    inset -2px -2px 0px rgba(255, 255, 255, 0.6),
    inset 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.buttons:hover {
    cursor: url('./resources/img/myWebsite/xp_cursor_red.png'), auto;
}

#helpButton {
    position: absolute;
    top: 2%;
    right: 95px;
}
#enlargeButton{
    position: absolute;
    top: 2%;
    right: 55px;
}
#closeButton {
    position: absolute;
    top: 2%;
    right: 15px;
}

/* Styling for text that shows up on clicking ?(help) button */
#popupText {
    position: absolute;
    top: -120px;
    right: 0px;
    padding: 10px;
    visibility: hidden;
    background-color: #b4b4b4;
    box-shadow:
    inset 2px 2px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 0px rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

/* Styling for contents inside the aboutme window */
#insideAboutMeWindow {
    overflow: auto;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 10%;
    bottom: 5%;
}

#myPortrait {
    padding: 10px;
    width: 40%;
    float: right;
}

#portraitButton {
    float: right;
}

#bulletList {
    /* Center the list but keep bullets in line of left */
    position: relative; 
	display: inline-block; 
	padding-left: 1em; 
	left: 50%; 
	transform: translateX(-50%);

    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.underlineText {
    text-decoration: underline;
}

/* TODO: ANIMATION - make each part (title, main, list) show opacity 0 -> 100
    and from below to up
                - or make it like old window xp booting process
*/