/* 
    This is the css for deny's index.html
*/

/* Setting my custom font. woff for browsers, ttf for mobile */
@font-face {
    font-family: 'rejiha_font';
    src: url('../resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff') format('woff'),
        url('../resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff2') format('woff2'),
        url('../resources/font/Rejiha_font-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: rejiha_font;
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin: 0;
    /* overflow: hidden; */
}

h1, figcaption {
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

img {
    /* Disable interacting with images (like saving them) */
    pointer-events: none;
}

body {
    background-color: rgb(255, 65, 65);
}

figcaption {
    font-weight: bold;
}

#contents {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 90%;
}

/* #warnings {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

#denyImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 50%;
}

/* #warning {
    width: 150px;
    animation: size_updown 1s infinite ease-in-out alternate;
}

@keyframes size_updown {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
} */

#warning {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 100px;
    width: 50%;
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}