/* 
    This is the css for myWebsite.html
*/

/* Using free to use font "sillkscreen" by Jason Kottke.
Could not convert ttf to woff so change upon malfunction */
@font-face {
    font-family: 'silkscreen';
    src: url('../../resources/font/silkscreen/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: silkscreen;
    font-size: 25px;
    color: black;
    text-decoration: none
}

body {
    background-color: #55abaa;
    background-size: 40px 40px;    
    background-image: repeating-linear-gradient(0deg, #fff, #fff 2px, transparent 1px, transparent 40px),
                    repeating-linear-gradient(-90deg, #fff, #fff 2px, transparent 1px, transparent 40px);
    /* !cursor not staying as custom curser! */
    cursor: url('../../resources/img/myWebsite/xp_cursor.png'), auto;    
}

/* disable interacting with images (like saving them) */
img {
    pointer-events: none;
}

/* Styling of the website header */
h1 {
    font-family: silkscreen;
    font-size: 50px;
    color: white;
    text-shadow: -2px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
    text-align: center;
    margin: auto;
    width: 80%;
    padding-bottom: 15px;
}

/* Styling for text under icon images */
figcaption {
    font-size: 3vw;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/* Styling of main background image (the windows xp) */
#mainBackgroundImg {
    max-width: 90vw;
    max-height: 90vh;
    display:block;
    margin-left:auto;
    margin-right:auto;

    padding: 5px;
    background-color: black;
}

#linkIcon {
    text-align: center;
}

#linkIcon:hover {
    cursor: url('../../resources/img/myWebsite/xp_cursor_red.png'), auto;
}

/* Below are series of icon stylization (ADD NEW ID HERE) */
#linkIcon_aboutme {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 30%;
}
#linkIcon_school {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 75%;
}
#linkIcon_projects {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 110%;
}
#linkIcon_resume {
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 50%;
}
#linkIcon_linkpage {
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 90%;
}

#bulletList {
    /* Center the list but keep bullets in line of left */
    position: relative; 
	display: inline-block; 
	padding-left: 1em; 
	left: 50%; 
	transform: translateX(-50%);

    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.underlineText {
    text-decoration: underline;
}

/* TODO: ANIMATION - make each part (title, main, list) show opacity 0 -> 100
    and from below to up
                - or make it like old window xp booting process
*/