/* 
    This is the css for linkPage.
*/

@font-face {
    font-family: 'rejiha_font';
    /* first method did not work in laptop but it worked in pc */
    /* src: url('rejiha_font-regular-MyWebsite\public_html\resources\font\webfontkit-20240309-135718\rejiha_font-regular-webfont.woff2.woff2') format('woff2'),
         url('rejiha_font-MyWebsite\public_html\resources\font\webfontkit-20240309-135718\rejiha_font-regular-webfont.woffregular-webfont.woff') format('woff'); */
    src: url('../../resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff') format('woff'),
        url('../../resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: rejiha_font;
    font-size: 25px;
    color: #4c4250;
    text-decoration: none
}

body{
    background-image: url('../../resources/img/background.png');
    background-color: #fffa8a;
}

/* Styling for title */
#title{
    animation-name: websiteAnimation;
    animation-duration: 1.5s;
    width: 450px;
    /* width: 70%;
    max-width: 600px;
    min-width: 400px; */
    display: block;
    margin: auto;
    padding-top: 20px;
}

/* Styling for contents in the middle */
#mainBase{
    animation-name: websiteAnimation;
    animation-duration: 1.5s;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 60px;
    /* transform: translateY(50px); */
    text-align: center;
    background-image: url('../../resources/img/base_paper.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 600px;
    /* filter: drop-shadow(5px 5px 5px #474747); */
}

@keyframes websiteAnimation{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.profile{
    margin-bottom: 15px;
}

#profilePic{
    width: 250px;
    border-radius: 5px;
}

#emailing:hover{
    color: #f3a455;
}

/* Styling for link boxes */
.linkBox{
    margin: auto;
    margin-bottom: 5px;
    width: 40%;
    min-width: 40%;
}
.linkBox:hover{
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    filter: brightness(0.9);
    transform: scale(1.1);
}

#websiteLink{
    padding: 10px;
    background-image: url('../../resources/img/purple_washi.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

#shopLink{
    padding: 10px;
    background-image: url('../../resources/img/orange_washi.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#instagramShopLink{
    padding: 10px;
    background-image: url('../../resources/img/red_washi.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#instagramArtLink{
    padding: 10px;
    background-image: url('../../resources/img/pink_washi.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#tiktokLink{
    padding: 10px;
    background-image: url('../../resources/img/blue_washi.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#frensLink{
    padding: 10px;
    background-image: url('../../resources/img/green_washi.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}