/* 
    This is the css for linkPage.html
*/

/* Setting my custom font. woff for browsers, ttf for mobile */
@font-face {
    font-family: 'rejiha_font';
    /* first method did not work in laptop but it worked in pc */
    /* src: url('rejiha_font-regular-MyWebsite\public_html\resources\font\webfontkit-20240309-135718\rejiha_font-regular-webfont.woff2.woff2') format('woff2'),
         url('rejiha_font-MyWebsite\public_html\resources\font\webfontkit-20240309-135718\rejiha_font-regular-webfont.woffregular-webfont.woff') format('woff'); */
    src: url('../../resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff') format('woff'),
        url('../../resources/font/webfontkit-20240309-135718/rejiha_font-regular-webfont.woff2') format('woff2'),
        url('../../resources/font/Rejiha_font-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: rejiha_font;
    font-size: 25px;
    color: #4c4250;
    text-decoration: none
}

body{
    background-image: url('../../resources/img/linkPage/background.png');
    background-color: #fffa8a;
}

/* Disable interacting with images (like saving them) */
img {
    pointer-events: none;
}

/* Styling for title */
#title{
    animation-name: websiteAnimation;
    animation-duration: 1.5s;
    width: 450px;
    /* width: 70%;
    max-width: 600px;
    min-width: 400px; */
    display: block;
    margin: auto;
    padding-top: 20px;
}

/* Styling for contents in the middle */
#mainBase{
    animation-name: websiteAnimation;
    animation-duration: 1.5s;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 60px;
    /* transform: translateY(50px); */
    text-align: center;
    background-image: url('../../resources/img/linkPage/base_paper.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 600px;
    /* filter: drop-shadow(5px 5px 5px #474747); */
}

/* Animation on refresh */
@keyframes websiteAnimation{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/* Styling for my avatar profile picture */
.profile{
    margin-bottom: 15px;
}

#profilePic{
    width: 250px;
    border-radius: 5px;
}

#emailing:hover{
    color: #f3a455;
}

/* Fixes the bug being able to click link on supposedly blank space */
.hrefBox{
    display: contents;
}

/* Styling for link boxes */
.linkBox{
    margin: auto;
    margin-bottom: 5px;
    width: 40%;
    min-width: 40%;

    padding: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.linkBox:hover{
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    /* filter: brightness(0.9); */
    transform: scale(1.1);
}

/* Styling for each links */
#websiteLink{
    background-image: url('../../resources/img/linkPage/purple_washi.png');
}

#shopLink{
    background-image: url('../../resources/img/linkPage/orange_washi.png');
}

#instagramShopLink{
    background-image: url('../../resources/img/linkPage/red_washi.png');
}


#instagramArtLink{
    background-image: url('../../resources/img/linkPage/pink_washi.png');
}

#tiktokLink{
    background-image: url('../../resources/img/linkPage/blue_washi.png');
}

#frensLink{
    background-image: url('../../resources/img/linkPage/green_washi.png');
}