/* 
    This is the css for linkPage.
*/

@font-face {
    font-family: 'rejiha_font';
    src: url('rejiha_font-regular-MyWebsite\public_html\resources\font\webfontkit-20240309-135718\rejiha_font-regular-webfont.woff2.woff2') format('woff2'),
         url('rejiha_font-MyWebsite\public_html\resources\font\webfontkit-20240309-135718\rejiha_font-regular-webfont.woffregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: rejiha_font;
    font-size: 25px;
    color: #4c4250;
    text-decoration: none
}

body{
    background-image: url('../../resources/img/background.png');
    background-color: #fffa8a;
}

/* Styling for contents in the middle */
#mainBase{
    margin: auto;
    padding-top: 80px;
    transform: translateY(150px);
    text-align: center;
    background-image: url('../../resources/img/base_paper.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 600px;
    /* filter: drop-shadow(5px 5px 5px #474747); */
}

#profile{
    width: 250px;
    border-radius: 5px;
}

/* Styling for link boxes */
.linkBox{
    margin: auto;
    width: 40%;
    min-width: 40%;
}
.linkBox:hover{
    filter: brightness(.8);
}


#websiteLink{
    /* color: #e4e4e4; */
    padding: 10px;
    background-image: url('../../resources/img/purple_washi.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

#shopLink{
    padding: 10px;
    background-image: url('../../resources/img/orange_washi.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#instagramShopLink{
    background-color: lightcoral;
}


#instagramArtLink{
    background-color: lightpink;
}

#tiktokLink{
    background-color: lightblue;
}

#frensLink{
    background-color: mediumaquamarine;
}